/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
*/


#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #5da423;
  border: solid 1px #008200;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
#flash_alert {
  background-color: #c60f13;
  border: solid 1px #650000;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

// $alert-color: #c60f13;
// $success-color: #5da423;